/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    background-color: green;
    color: white;
    z-index: 1;
}

main{
    height: calc(100vh - 100px);
    background-color: rgb(196, 196, 196);
    position: relative;
    display: flex;
    justify-content: center;
}

.contenitore-principale{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: -40px;
    z-index: 2;
    display: flex;
}

.contatti{
    width: 30%;
    height: 100%;
    background-color: aqua;
}

.chat{
    width: 70%;
    height: 100%;
    background-color: aquamarine;
}