/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* stile header */
header{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    background-color:#076b5f;
    color: white;
    z-index: 1;
}

/* stile main */
main{
    height: calc(100vh - 100px);
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
}



/* contenitore principale centrato */
.contenitore-principale{
    height: 100%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: -40px;
    z-index: 2;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}



/* stile parte contatti */

.contatti{
    width: 30%;
    border-right: 1px solid lightgray;  
}




/* contatti top */

.contatti-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#e0e0e0;
    padding: 15px;
}

.contatti-profilo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.immagine-profilo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.contatti-icone{
    display: flex;
    gap: 10px;
}

.contatti-icone > i{
    color: gray;
    cursor: pointer;
}

/* stile contatti notifiche */

.contatti-notifiche{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: lightskyblue;
}



.contatti-notifiche i{
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    color: lightskyblue;
    margin-right: 10px;
}

.contatti-notifiche .testo{
    font-size: 12px;
}

.testo > .stile-testo{
    color: gray;
    text-decoration: underline;
    
}

/* stile contatti ricerca */
.contatti-ricerca{
    display: flex;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid gray;
}

.contatti-ricerca input{
    flex: 1;
    padding: 5px 10px;
    border: none;
    background-color: whitesmoke;
}

.contatti-ricerca i{
    font-size: 19px;
    color: gray;
    padding: 3px 10px;
    background-color: whitesmoke;
}

/* stile lista contatti */

.lista-contatti{
    max-height: calc((100vh - 298px));
    overflow-y: auto;
    padding: 0 10px;
}

.lista-contatti ul{
    list-style: none;
}

.lista-contatti li{
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid lightgrey;
    transition: 0.3s;
}

.lista-contatti li:hover{
    background-color: lightskyblue;
}

.lista-contatti li:last-child {
    border-bottom: none;
}

/* stile delle immagini dei contatti */
.lista-contatti li img.immagini-contatti{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px; 
}

/* stile contenuto contatti */
.contenuto-contatti{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenuto-contatti .testo p:nth-child(2),
.contenuto-contatti .orario p{
    font-size: 12px;
    color: gray;
}




/* stile parte chat */

.chat{
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* stile info utente  */

.info-utente{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #e0e0e0;
}


/* ho integrato questa classe per nascondere i contatti che non sono attivi */
.display-none{
    display: none;  
}

.immagine-utente{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dettagli-utente{
    flex: 1;
}

.nome-utente{
    font-weight: bold;
    margin-bottom: 3px;
}

.ultimo-accesso{
    font-size: 12px;
    color: gray;
}

.icone-utente i{
    font-size: 20px;
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}






/* stile dei messaggi */
.messaggi{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.messaggio{
    position: relative;
    margin: 30px 0px;
    left: 50px;
    width: 50%;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 10px;
}

.messaggio.inviato{
    background-color:#dcf8c6;
}

.margin-left{
    margin-left: 30%;
}

.messaggio.ricevuto{
    background-color:white ;
}



.orario-messaggio{
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 10px;
    color: gray;

}




/* selettore di debug per verificare il funzionamento dello scroll */
/* .messaggi > p{
    margin: 150px 0px;
} */


/* stile della barra input dove inseriamo i messaggi */
.input-chat{
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #e0e0e0;
}

.input-chat input{
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.input-chat .icona{
    margin: 0 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}




/* classi binding dinamico */

.display-flex{
    display: flex;
}